/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-x: scroll;
}

/* line 15, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 18, ../sass/screen.scss */
.ctn {
  position: relative;
  left: -100%;
  width: 300%;
  height: 100%;
  overflow: scroll;
}

/* line 25, ../sass/screen.scss */
.seller {
  float: left;
  width: calc(100% / 3);
}
/* line 29, ../sass/screen.scss */
.seller ul li {
  position: relative;
  padding: 0 15px;
}
/* line 32, ../sass/screen.scss */
.seller ul li .sellerlogo {
  width: 50px;
  height: 50px;
}
/* line 36, ../sass/screen.scss */
.seller ul li .sellername {
  position: absolute;
  top: 15px;
  left: 80px;
  margin: 0;
}
/* line 42, ../sass/screen.scss */
.seller ul li .sellerinfo {
  position: absolute;
  top: 45px;
  left: 80px;
  margin: 0;
  color: #474747;
  font-size: 0.8rem;
}
/* line 50, ../sass/screen.scss */
.seller ul li .right {
  float: right;
  margin-top: 6px;
  color: #7d7d7d;
}

/* line 58, ../sass/screen.scss */
.menus {
  float: left;
  width: calc(100% / 3);
  height: 100%;
}
/* line 62, ../sass/screen.scss */
.menus header {
  background-color: #93BBE2;
  width: 100%;
  height: 40px;
}
/* line 66, ../sass/screen.scss */
.menus header ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 70, ../sass/screen.scss */
.menus header ul li {
  float: left;
  line-height: 40px;
  color: #fff;
  width: calc(100% / 3);
}
/* line 75, ../sass/screen.scss */
.menus header ul li.active {
  background-color: #6ba2d7;
}
/* line 81, ../sass/screen.scss */
.menus aside {
  float: left;
  width: 80px;
  box-sizing: border-box;
  border-right: 1px solid #dedede;
  height: calc(100% - 40px);
  background-color: #f5f5f5;
}
/* line 88, ../sass/screen.scss */
.menus aside ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 92, ../sass/screen.scss */
.menus aside ul li {
  padding: 20px 0;
  font-size: 1.1rem;
}
/* line 98, ../sass/screen.scss */
.menus .menusList {
  float: left;
  width: calc(100% - 80px);
}
/* line 101, ../sass/screen.scss */
.menus .menusList ul {
  margin: 0;
  padding: 0;
}
/* line 104, ../sass/screen.scss */
.menus .menusList ul li {
  position: relative;
  height: 100px;
  padding: 16px 0;
}
/* line 108, ../sass/screen.scss */
.menus .menusList ul li img {
  margin-left: 16px;
  width: 66px;
  height: 66px;
}
