/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/screen.scss */
html, body {
  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

/* line 28, ../sass/screen.scss */
body {
  background-color: #e9a172;
  box-sizing: border-box;
  padding: 8px;
}

/* line 34, ../sass/screen.scss */
.menus {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 38, ../sass/screen.scss */
.menus .recommend {
  width: 100%;
  height: 140px;
  background-color: #fafafa;
  overflow: hidden;
  margin-bottom: 8px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 45, ../sass/screen.scss */
.menus .recommend .carousel {
  position: relative;
  float: left;
  height: 100%;
  width: 65%;
  background-color: #f5f5f5;
}
/* line 51, ../sass/screen.scss */
.menus .recommend .carousel .carousel-item {
  width: 100%;
  height: 100%;
}
/* line 54, ../sass/screen.scss */
.menus .recommend .carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 60, ../sass/screen.scss */
.menus .recommend .carousel .carousel-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 66, ../sass/screen.scss */
.menus .recommend .carousel .carousel-title .dish-name {
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 15px;
  color: #fff;
}
/* line 73, ../sass/screen.scss */
.menus .recommend .add, .menus .recommend .overview {
  box-sizing: border-box;
  color: #e28346;
  font-size: 1.1rem;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
/* line 79, ../sass/screen.scss */
.menus .recommend .add {
  border-bottom: 1px solid #e28346;
}
/* line 82, ../sass/screen.scss */
.menus .recommend .price {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #e28346;
}

/* line 90, ../sass/screen.scss */
.classify {
  float: left;
  width: 50px;
  clear: both;
  background-color: #e28346;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 96, ../sass/screen.scss */
.classify ul {
  text-align: center;
}
/* line 98, ../sass/screen.scss */
.classify ul li {
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid #fff;
}
/* line 102, ../sass/screen.scss */
.classify ul li:last-child {
  border-bottom: none;
}

/* line 109, ../sass/screen.scss */
.menus-items-box {
  margin-left: 58px;
  height: calc(100% - 156px);
  overflow: auto;
}
/* line 113, ../sass/screen.scss */
.menus-items-box .menus-item {
  position: relative;
  width: 99.7%;
  height: 90px;
  background-color: #f7dcca;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
}
/* line 120, ../sass/screen.scss */
.menus-items-box .menus-item img {
  margin-left: 8px;
  margin-right: 2px;
  vertical-align: middle;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}
/* line 130, ../sass/screen.scss */
.menus-items-box .menus-item span {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
/* line 134, ../sass/screen.scss */
.menus-items-box .menus-item span .menus-name {
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: #e28346;
}
/* line 140, ../sass/screen.scss */
.menus-items-box .menus-item span .menus-info {
  font-size: 0.7rem;
}
/* line 143, ../sass/screen.scss */
.menus-items-box .menus-item span .sales-num {
  margin-top: 11px;
  font-size: 0.8rem;
}
/* line 148, ../sass/screen.scss */
.menus-items-box .menus-item .ctrl {
  margin-left: 5px;
}
/* line 151, ../sass/screen.scss */
.menus-items-box .menus-item .ctrl .menus-price {
  position: absolute;
  top: 15px;
  right: 8px;
  font-size: 1.1rem;
  color: #e28346;
}
/* line 158, ../sass/screen.scss */
.menus-items-box .menus-item .ctrl .reduce, .menus-items-box .menus-item .ctrl .add {
  position: absolute;
  width: 22px;
  height: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background-color: #e28346;
  color: #fff;
  border-radius: 6px;
}
/* line 167, ../sass/screen.scss */
.menus-items-box .menus-item .ctrl .add {
  bottom: 10px;
  right: 8px;
}
/* line 171, ../sass/screen.scss */
.menus-items-box .menus-item .ctrl .reduce {
  bottom: 10px;
  right: 60px;
}
/* line 175, ../sass/screen.scss */
.menus-items-box .menus-item .ctrl .value {
  position: absolute;
  width: 30px;
  height: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  right: 30px;
  bottom: 10px;
}

/* line 186, ../sass/screen.scss */
.cart {
  position: absolute;
  left: -8px;
  right: -8px;
  bottom: -8px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 193, ../sass/screen.scss */
.cart img {
  vertical-align: middle;
  padding-left: 10px;
  height: 30px;
}
/* line 198, ../sass/screen.scss */
.cart span {
  position: relative;
  left: -20px;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  height: 45px;
  line-height: 45px;
  text-align: right;
  width: calc(100% - 55px);
  color: #fff;
}

/* line 209, ../sass/screen.scss */
.pop-panel {
  position: absolute;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 217, ../sass/screen.scss */
.pop-panel .pop-ctn {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 223, ../sass/screen.scss */
.pop-panel .pop-ctn img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 227, ../sass/screen.scss */
.pop-panel .pop-ctn h2 {
  padding: 10px;
  color: #e28346;
}
/* line 231, ../sass/screen.scss */
.pop-panel .pop-ctn p {
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
  text-indent: 2em;
  font-size: 14px;
  line-height: 18px;
}
/* line 238, ../sass/screen.scss */
.pop-panel .pop-ctn .ctrl {
  position: relative;
  padding: 10px;
  width: 100%;
}
/* line 242, ../sass/screen.scss */
.pop-panel .pop-ctn .ctrl div {
  display: inline-block;
}
/* line 245, ../sass/screen.scss */
.pop-panel .pop-ctn .ctrl .menus-price {
  position: absolute;
  font-size: 1.2rem;
  bottom: 12px;
  color: #e28346;
}
/* line 251, ../sass/screen.scss */
.pop-panel .pop-ctn .ctrl .reduce, .pop-panel .pop-ctn .ctrl .add {
  position: absolute;
  width: 22px;
  height: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background-color: #e28346;
  color: #fff;
  border-radius: 6px;
}
/* line 260, ../sass/screen.scss */
.pop-panel .pop-ctn .ctrl .add {
  bottom: 10px;
  right: 25px;
}
/* line 264, ../sass/screen.scss */
.pop-panel .pop-ctn .ctrl .reduce {
  bottom: 10px;
  right: 77px;
}
/* line 268, ../sass/screen.scss */
.pop-panel .pop-ctn .ctrl .value {
  position: absolute;
  width: 30px;
  height: 22px;
  font-size: 1.1rem;
  height: 22px;
  line-height: 22px;
  text-align: center;
  right: 47px;
  bottom: 10px;
}
