/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$color: rgb(237, 128, 105);
$color_hover: rgb(237, 162, 143);
$color_bg: rgb(246, 235, 233);

html, body {
	font-family: "微软雅黑", sans-serif;
}

body {
	background-image: url(../img/bg.png);
}

.main {
	padding: 15px;
	box-sizing: border-box;

	nav {
		width: 100%;
		background-color: $color;
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 1px 1px 5px #9E9E9E;
		ul {
			position: relative;
			width: 100%;
			overflow: hidden;
			li {
				float: left;
				width: (100% / 6);
				padding: 7px 0;
				box-sizing: border-box;
				border-right: 1px solid #D2CBCB; 
				&:last-child {
					border-right: none;
				}
				&:hover {
					background-color: $color_hover;
				}
				&:active {
					background-color: $color_hover;
				}
				img {
					display: block;
					width: 50%;
					margin: 0 auto;
					
				}
			}
		}
	}

	.picture_box {
		clear: both;
		width: 100%;
		height: 130px;
		margin: 15px 0;
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 1px 1px 5px #9E9E9E;
		
		.picture {
			position: relative;
			float: left;
			width: 65%;
			height: 100%;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
			.picture_name {
				position: absolute;
				width: 100%;
				height: 39px;
				line-height: 39px;
				font-size: 14px;
				padding-left: 15px;
				bottom: 0;
				color: #fff;
				background-color: rgba(0, 0, 0, 0.66);
			}
		}
		.side {
			float: left;
			width: 35%;
			height: 100%;
			color: $color;
			font-size: 17px;


			.add_menus {
				width: 100%;
				height: 35%;
				box-sizing: border-box;
				line-height: 45.5px;
				background-color: $color_bg;
				text-align: center;
				border-bottom: 1px solid $color;
			}

			.detail {
				width: 100%;
				height: 35%;
				line-height: 45.5px;
				background-color: $color_bg;
				text-align: center;
			}

			.price {
				width: 100%;
				height: 30%;
				line-height: 39px;
				font-size: 16px;
				color: #fff;
				background-color: $color;
				text-align: center;
			}
		}
	}
	.categories {
		float: left;
		width: 15%;
		background-color: $color;
		border-radius: 5px;
		box-shadow: 1px 1px 5px #9E9E9E;

		ul {
			li {
				font-size: 0;
				padding: 5px;
				text-align: center;
				img {
					width: 80%;
				}
				border-bottom: 1px solid #D2CBCB; 
				&:last-child {
					border-bottom: none;
				}
				&:hover {
					background-color: $color_hover;
				}
				&:active {
					background-color: $color_hover;
				}
			}
		}
	}

	.menus {
		float: left;
		width: 85%;
		
		box-sizing: border-box;
		padding-left: 10px;
		overflow: hidden;
		.menus-item {
			width: 99%;
			height: 120px;
			border-radius: 5px;
			box-shadow: 2px 2px 5px #9E9E9E;
			margin-bottom: 5px;
			overflow: hidden;
			.menus-img {
				position: relative;
				float: left;
				width: 60%;
				height: 100%;
				background-color: $color_bg;
				box-sizing: border-box;
				border-right: 1px solid $color;
				text-align: center;
				img {
					border-radius: 50%;
					box-sizing: border-box;
					padding: 5px;
					height: 100%;
				}
				
			}
			.menus-side {
				float: left;
				width: 40%;
				height: 100%;	
				.num {
					position: relative;
					width: 100%;
					height: 30%;
					font-size: 0;
					background-color: $color_bg;
					.left {
						img {
							position: absolute;
							top: 50%;
							left: 5px;
							margin-top: -10px;
							width: 21px;
						}
					}

					.right {
						img {
							position: absolute;
							top: 50%;
							right: 5px;
							margin-top: -10px;
							width: 21px;
						}
					}
					.num-value {
						text-align: center;
						font-size: 17px;
						font-weight: bold;
						color: $color;
						line-height: 36px;

					}
				}

				.menus-info {
					height: 70%;
					background-color: $color;
					div {
						line-height: 42px;
						text-align: center;
						color: #fff;
					}
					.menus-name {

					}
					.menus-price {
						big {
							font-size: 1.1rem;
						}
					}
				}


			}
			
		}


	}
}
