<div class="menus-item" ng-controller="menusItemController" ng-repeat="x in dt" data-Id={{x.id}} ng-click="pop($event)">
    <img src="img/example.png" alt="" data-Id={{x.id}}/>
    <span data-Id={{x.id}}>
        <div class="menus-name" ng-bind="x.name" data-Id={{x.id}}></div>
        <div class="menus-info" ng-bind="x.info" data-Id={{x.id}}></div>
        <div class="sales-num" data-Id={{x.id}}>销量：<span ng-bind="x.sales" data-Id={{x.id}}></span></div>
    </span>
    <span class="ctrl" data-Id={{x.id}}>
        <div class="menus-price" data-Id={{x.id}}>￥<span data-Id={{x.id}} ng-bind="x.price"></span></div>
        <div class="reduce" ng-click="reduce($event)">－</div>
        <div class="value" ng-bind="x.num" ng-click="get()"></div>
        <div class="add" ng-click="add($event)">＋</div>
    </span>
</div>